<!-- Basic portfolio.html file -->
<section id="portfolio">
  <div class="container">
    <h2 class="text-center">Portfolio</h2>
    <p class="text-center">Check out some of our amazing projects below.</p>
    <div class="row">
      <!-- Example project -->
      <div class="col-md-4">
        <div class="portfolio-item">
          <img src="/assets/img/portfolio/example.jpg" alt="Example Project" class="img-fluid">
          <h3>Example Project</h3>
          <p>Short description of the project.</p>
        </div>
      </div>
      <!-- Add more projects as needed -->
    </div>
  </div>
</section>