// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  .intro-text {
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    .header-button {
      margin-top: 20px;
      display: inline-block;
    }
  }
}

@media (max-width: 767px) {
  header.masthead {
    background-image: url("/assets/img/header_mobile.png");
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      bottom: 10vh;
    }
  }
}
