// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
    .header-button {
      margin-top: 50px;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 350px;
      padding-bottom: 350px;
    }
  }
}
