// Styling for the services section
#services {
  background-color: $gray-100;
  .fa-stack-1x {
    color: black;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.row.text-center {
  > div {
    margin-bottom: 40px;
  }
}
